<!DOCTYPE html>
<html>
<head>
  <title>FlapperNews</title>
    <style> .glyphicon-thumbs-up { cursor:pointer } </style>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="flapperNews">
  <a ui-sref="home">home</a>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <div class="page-header">
        <h1>Flapper News</h1>
        <div ui-view></div>
      </div>



    </div>
  </div>

</body>
</html>